# SQLite Try
Simple example of using SQLite

In [29]:
import sqlite3

def execute_sql(conn, sql):
    try:
        cur = conn.cursor()
        cur.execute(sql)
    except Exception as e:
        print(e)

def execute_sql_with_params(conn, sql, params):
    """ Exectute SQL with paramter substitution """
    cur = conn.cursor()
    cur.execute(sql, params)
    return cur.lastrowid

def execute_query(conn, sql):
    """Execute query and return all rows"""
    cur = conn.cursor()
    cur.execute(sql)
    return cur.fetchall()

## Connect to database file     
File will be created if it doesn't already exist

In [22]:
mydatabase = 'sqlite_practice.db'
conn = sqlite3.connect(mydatabase)

## Add A Table
Seems no need to commit

In [ ]:
sql_create_things_table = """
CREATE TABLE IF NOT EXISTS things(
id integer PRIMARY KEY,
name text NOT NULL,
begin_date text,
end_date text
            ); """

execute_sql(conn, sql_create_things_table)

## Another Table

In [5]:
sql_create_another_table = """
CREATE TABLE IF NOT EXISTS cakes(
id integer PRIMARY KEY,
name text NOT NULL,
quantity INTEGER
            ); """

execute_sql(conn, sql_create_another_table)

## Add Row To Table

In [27]:
row_sql = ''' INSERT INTO things(name, begin_date, end_date)
             VALUES(?,?,?) '''

params = ("Mangle", "01-JAN-2019", "02-FEB-2019")

new_id = execute_sql_with_params(conn, row_sql, params)
print(new_id)

3

## Add Cake To Cake Table

In [11]:
row_sql = ''' INSERT INTO cakes(name, quantity)
             VALUES(?,?) '''

params = ("Eccles Cakes", 4)

new_id = execute_sql_with_params(conn, row_sql, params)
print(new_id)

3

## Need to commit updates and inserts, otherwise lost

In [28]:
conn.commit()

## Update

In [25]:
sql = """
update things
set name = 'Spoon'
where id = 2
"""

execute_sql(conn, sql)

## Query

In [15]:
sql = "select * from things"
rows = execute_query(conn, sql)

for row in rows:
    print(row)

(1, 'Hoot', '01-JAN-2019', '02-FEB-2019')
(2, 'Hoot', '01-JAN-2019', '02-FEB-2019')

## Close connection

In [19]:
conn.close()

In [30]:
conn