### Create pandas dataframe

In [5]:
import pandas as pd

data = {
'one':  [1., 2.,  3.,   4., "n"],
'two':  [2., 4., -6.,   8., "a"],
'three':[3., 6., -9., -12., "z"]    
}

#Create a dataframe and display it
df = pd.DataFrame(data)
display(df)

  one three two
0   1     3   2
1   2     6   4
2   3    -9  -6
3   4   -12   8
4   n     z   a

### Setup conditional colour highlighting

In [20]:
def highlight_conditions(val):
    """
    Colour selection function intended to be used with
    df.style.applymap to apply conditional colours to 
    dataframe values.
    Based on info from https://pandas.pydata.org/pandas-docs/stable/style.html
    """
    #Default colour
    colour = 'black'
    
    #Conditional colours
    if val<0: colour = 'red'
    elif val == "z": colour = 'orange'
    
    #Create the and return the 
    #css element that df.style.applymap uses
    return 'color: %s' % colour

### Create highlighted version and display it

In [4]:
highlighted = df.style.applymap(highlight_conditions)
display(highlighted)

In [10]:
for column in df:
    print column

one
three
two

In [16]:
username = raw_input("Username: ")

Username: cake

In [17]:
import getpass
password = getpass.getpass("Password:")

Password:········

Hmm
https://stackoverflow.com/questions/29464234/compare-python-pandas-dataframes-for-matching-rows